<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- ################# -->
<!-- Header            -->
<!-- ################# -->
<div th:fragment="head" th:remove="tag">
    <meta charset="utf-8"/>

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="apple-touch-icon" th:href="${page.assetUrl} + '/assets/wutsi/img/logo/logo_96x96.png'"/>
    <meta content="#f8f8f8" name="theme-color">
    <meta content="#f8f8f8" name="apple-mobile-web-app-status-bar"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="Wutsi" name="apple-mobile-web-app-title"/>
    <meta content="yes" name="mobile-web-app-capable"/>

    <title th:if="${page.title} == 'Wutsi'" th:text="${page.title}"></title>
    <title th:if="${page.title} != 'Wutsi'" th:text="${page.title} + ' | Wutsi'"></title>

    <meta name="description" th:content="${page.description}"/>

    <meta property="og:site_name" th:content="Wutsi"/>
    <meta property="og:type" th:content="${page.type}"/>
    <meta property="og:url" th:content="${page.url}"/>
    <meta property="og:title" th:content="${page.title}"/>
    <meta property="og:description" th:content="${page.description}"/>
    <meta property="og:image" th:content="${page.imageUrl}" th:if="${page.imageUrl}"/>
    <meta property="article:author" th:content="${page.author}" th:if="${page.author}"/>
    <meta property="article:published_time" th:content="${page.publishedTime}" th:if="${page.publishedTime}"/>
    <meta property="article:modified_time" th:content="${page.modifiedTime}" th:if="${page.modifiedTime}"/>
    <meta property="article:tag" th:content="${tag}" th:each="tag : ${page.tags}"/>

    <meta name="twitter:card" th:content="${page.imageUrl} ? 'summary_large_image' : 'summary'"/>
    <meta name="twitter:site" th:content="'@' + ${page.twitterUserId}" th:if="${page.twitterUserId}"/>
    <meta name="twitter:creator" th:content="'@' + ${page.twitterUserId}" th:if="${page.twitterUserId}"/>
    <meta name="twitter:title" th:content="${page.title}"/>
    <meta name="twitter:description" th:content="${page.description}"/>
    <meta name="twitter:image" th:content="${page.imageUrl}" th:if="${page.imageUrl}"/>

    <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}" th:if="${_csrf}"/>

    <meta name="robots" th:content="${page.robots}"/>

    <link rel="canonical" th:href="${page.canonicalUrl}" th:if="${page.canonicalUrl}"/>

    <link rel="shortcut icon" th:href="${page.assetUrl} + '/assets/images/favicon/favicon.ico'"/>

    <!-- BEGIN: Google Fonts -->
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link as="font" crossorigin="anonymous"
          href="https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExcOPIDU.woff2" rel="preload"
          type="font/woff2">
    <link as="font" crossorigin="anonymous"
          href="https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq18m9eY.woff2" rel="preload"
          type="font/woff2">
    <link as="style" href="https://fonts.googleapis.com/css2?family=Lora&display=optional" rel="preload">
    <link as="style" href="https://fonts.googleapis.com/css2?family=PT+Sans&display=optional" rel="preload">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=optional" media="print"
          onload="this.onload=null;this.removeAttribute('media');"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=optional" media="print"
          onload="this.onload=null;this.removeAttribute('media');"
          rel="stylesheet">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet"/>
    </noscript>
    <!-- END: Google Fonts -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <link as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link as="style" rel="stylesheet" th:href="${page.assetUrl} + '/assets/css/wutsi.css'">

    <script crossorigin="anonymous"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <meta name="wutsi:page_name" th:content="${page.name}"/>
</div>


<!-- ################# -->
<!-- Footer            -->
<!-- ################# -->
<footer class="page-footer container-fluid padding-2x margin-top-4x border-top d-none d-md-block" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 margin-bottom">
                &copy; Wutsi.
                <br/>
            </div>
        </div>
    </div>
</footer>


<!-- ##################### -->
<!-- Social Toolbar        -->
<!-- ##################### -->
<div th:fragment="social-toolbar(member)" class="border padding toolbar">
    <div class="button" id="button-instagram" th:if="${member.instagramId}">
        <a th:href="'https://www.instagram.com/' + ${member.instagramId}">
            <img th:src="${assetUrl} + '/assets/images/social/instagram.png'"
        </a>
    </div>
    <div class="button" id="button-youtube" th:if="${member.youtubeId}">
        <a th:href="'https://www.youtube.com/' + ${member.youtubeId}">
            <img th:src="${assetUrl} + '/assets/images/social/youtube.png'"
        </a>
    </div>
    <div class="button" id="button-facebook" th:if="${member.facebookId}">
        <a th:href="'https://www.facebook.com/' + ${member.facebookId}">
            <img th:src="${assetUrl} + '/assets/images/social/facebook.png'"
        </a>
    </div>
    <div class="button" id="button-twitter" th:if="${member.twitterId}">
        <a th:href="'https://www.twitter.com/' + ${member.twitterId}">
            <img th:src="${assetUrl} + '/assets/images/social/twitter.png'"
        </a>
    </div>
</div>

<!-- ##################### -->
<!-- Toolbar               -->
<!-- ##################### -->
<div th:fragment="toolbar(member)" class="border padding toolbar">
    <div class="button" id="button-phone">
        <a th:href="'tel:' + ${member.phoneNumber}">
            <div class="icon">
                <i class="fa-solid fa-phone"></i>
            </div>
            <span th:text="#{widget.business-toolbar.call}">Call</span>
        </a>
    </div>
    <div class="button" id="button-message" th:if="${member.whatsapp}">
        <a th:href="'https://wa.me/' + ${member.phoneNumber}">
            <div class="icon">
                <i class="fa-regular fa-message"></i>
            </div>
            <span th:text="#{widget.business-toolbar.chat}">Chat</span>
        </a>
    </div>
    <div class="button" id="button-share">
        <a href="#" onclick="return share()">
            <div class="icon">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </div>
            <span th:text="#{widget.business-toolbar.share}">Share</span>
        </a>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function share() {
            navigator.share(
                {
                    title: document.title,
                    url: document.querySelector("link[rel='canonical']").getAttribute("href")
                }
            );
        }

        /*]]>*/
    </script>
</div>

<!-- ################# -->
<!-- Navbar            -->
<!-- ################# -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand navbar-light border-bottom fixed-top navbar-site">
        <a class="navbar-brand" href="/">
            <img alt="Wutsi" height="50" th:src="${page.assetUrl} + '/assets/wutsi/img/logo/name-104x50.png'"
                 title="Wutsi"/></a>


        <ul class="navbar-nav ml-auto" th:if="${page.name != 'page.login'}">
            <li th:replace="components/layout :: navbar-dropdown"></li>

            <li class="nav-item d-none d-lg-block" th:if="!${user} AND ${page.name != 'page.welcome'}">
                <a class="btn btn-primary" href="/create" id="navbar-create" th:if="${toggles.createBlog}"
                   th:text="#{button.create_blog}">Create your
                    Blog</a>
            </li>
            <li class="nav-item d-none d-lg-block"
                th:if="!${user} AND ${page.name != 'page.login'} AND ${page.name != 'page.welcome'}">
                <a class="btn btn-light" href="/login" id="navbar-login" rel="nofollow"
                   th:text="#{button.login}">Login</a>
            </li>
        </ul>
    </nav>
    <div class="navbar-margin">&nbsp;</div>
</div>

</body>
</html>
