<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body>

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content container">
        <div class="row border-bottom">
            <div class="col-12">
                <div class="padding">
                    <h1>500</h1>
                    <h2 th:text="#{error-message.500}">Error message</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
