<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body>

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content container">
        <div class="row border-bottom">
            <div class="col-12">
                <div th:replace="component/layout :: merchant-profile(${merchant}, false, false)"></div>
            </div>
        </div>

        <form action="/order/submit" method="POST"
              onsubmit="document.getElementById('btn-submit').disabled=true; return true">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 border-top">
                    <div class="padding">
                        <h1 th:text="#{order.title}">Your Information</h1>

                        <input class="w-100" maxlength="100" name="displayName"
                               required="true"
                               th:placeholder="#{order.displayName}"/>

                        <input class="w-100" maxlength="100" name="email" required="true"
                               th:placeholder="#{order.email}"
                               type="email"/>

                        <textarea class="w-100" maxlength="1000" name="notes"
                                  rows="3"
                                  th:placeholder="#{order.notes}"></textarea>

                        <button class="btn btn-lg btn-primary w-100" id="btn-submit" th:text="#{order.submit}"
                                type="submit">
                            Continue to Payment
                        </button>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-4 padding">
                    <div class="border">
                        <div class="flex">
                            <img th:src="${product.thumbnailUrl}" width="100"/>
                            <div class="padding">
                                <span th:text="${product.title}">Product Title</span>
                                <span th:if="${quantity GT 1}" th:text="' (x' + ${quantity} + ')'">x2</span>
                            </div>
                        </div>
                        <div class="border-top padding text-right">
                            <span th:text="#{order.total}">Total</span>
                            <b class="highlight" th:text="${totalPrice}">3000</b>
                        </div>
                    </div>
                </div>
            </div>

            <input name="businessId" th:value="${merchant.businessId}" type="hidden"/>
            <input name="productId" th:value="${product.id}" type="hidden"/>
            <input name="quantity" th:value="${quantity}" type="hidden"/>
        </form>
    </div>
</div>

</body>
</html>
