<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body>

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content container">
        <div class="row border-bottom">
            <div class="col-12">
                <div th:replace="component/layout :: merchant-profile(${merchant}, false)"></div>
            </div>
        </div>

        <div class="row border-bottom">
            <div class="col-12">
                <div class="tx-status tx-pending padding-2x text-center">
                    <h3 class="padding-2x" th:text="#{processing.pending.title}">Processing Payment</h3>

                    <i class="fa-solid fa-rotate fa-spin"></i>

                    <div class="padding-2x">
                        <div th:text="#{processing.pending.message}">Please wait while we are processing your
                            transaction.
                        </div>
                    </div>
                </div>

                <div class="tx-status tx-expired padding-2x text-center" style="display: none">
                    <h3 class="padding-2x" th:text="#{processing.expired.title}">Error!</h3>

                    <i class="fa-solid fa-triangle-exclamation"></i>

                    <div class="padding-2x">
                        <div th:utext="#{processing.expired.message}">Your payment failed.</div>
                    </div>

                    <a class="btn btn-danger" th:href="${merchant.url}" th:text="#{processing.expired.button}">Try
                        Again</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const url = /*[[${transactionUrl}]]*/ '';
    const transactionId = /*[[${tx.id}]]*/ '';
    const handle = setTimeout(load_transaction, 15 * 1000);
    var retries = 0;

    function load_transaction() {
        retries++;
        console.log(retries + ' - Loading transaction...');

        jQuery.getJSON(url, function (tx) {
            console.log(tx);

            if (retries > 5) {

                jQuery('.tx-pending').hide();
                jQuery('.tx-expired').show();
                clearTimeout(handle);

            } else if (tx.status === 'SUCCESSFUL') {

                window.location.href = '/success?t=' + transactionId;

            } else if (tx.status === 'FAILED') {

                window.location.href = '/error?t=' + transactionId;

            }
        });
    }

    /*]]>*/
</script>

</body>
</html>
