<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body class="product">

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="carousel slide" data-bs-interval="300000" data-bs-ride="carousel" id="picture-carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item"
                             th:classappend="${idx.index == 0} ? active"
                             th:each="picture,idx: ${product.pictures}"
                        >
                            <img class="d-block w-100" th:src="${picture.url}">
                        </div>
                    </div>
                    <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#picture-carousel"
                            type="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#picture-carousel"
                            type="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <script>

                </script>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="padding">
                    <h1 class="title" th:text="${product.title}">Title</h1>
                    <div class="merchant">
                        <a th:href="${merchant.url}" th:text="${merchant.displayName}">Merchant Name</a>
                    </div>
                    <div class="price" th:if="${product.price}" th:text="${product.price}">10.000 FCFA</div>

                    <p class="summary" th:if="${product.summary}" th:text="${product.summary}">
                        This is the summary
                    </p>

                    <div th:if="${device.isMobile()}">
                        <div th:replace="component/layout :: toolbar(${merchant})"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${product.description}">
            <div class="col">
                <div class="description padding" th:text="${product.description}">Description</div>
            </div>
        </div>

        <div th:replace="component/layout :: social-toolbar(${merchant})"></div>
    </div>
</div>

</body>
</html>
