<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body class="product">

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content">
        <div class="row padding"></div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                PICTURE
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="padding">
                    <h1 th:text="${product.title}">Title</h1>

                    <div class="price" th:if="${product.price}" th:text="${product.price}">10.000 FCFA</div>

                    <p class="summary" th:if="${product.summary}" th:text="${product.summary}">
                        This is the summary
                    </p>

                    <div th:if="${device.isMobile()}">
                        <div th:replace="component/layout :: toolbar(${merchant})"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${product.description}">
            <div class="col">
                <div class="padding" th:text="${product.description}">Description</div>
            </div>
        </div>

        <div th:replace="component/layout :: social-toolbar(${merchant})"></div>
    </div>
</div>

</body>
</html>
