<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body class="product">

<div th:replace="component/layout :: navbar"></div>

<div class="container col-md-12 col-sm-12 content-main margin-top">
    <div class="border main-content container">
        <div class="row border-bottom">
            <div class="col-12">
                <div th:replace="component/layout :: merchant-profile(${merchant}, false, false)"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <div class="carousel slide" data-bs-interval="300000" data-bs-ride="carousel" id="picture-carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item"
                             th:classappend="${idx.index == 0} ? active"
                             th:each="picture,idx: ${product.pictures}"
                        >
                            <img class="d-block w-100" th:src="${picture.url}">
                        </div>
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#picture-carousel"
                            type="button">
                        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#picture-carousel"
                            type="button">
                        <span aria-hidden="true" class="carousel-control-next-icon"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div class="padding">
                    <h1 class="title" th:text="${product.title}">Title</h1>
                    <div class="price" th:if="${product.price}" th:text="${product.price}">10.000 FCFA</div>

                    <div class="quantity available" th:if="${product.available}">
                        <i class="fa-solid fa-check"></i>
                        <span th:text="#{product.in-stock}">In Stock</span>
                    </div>
                    <div class="quantity unavailable" th:if="!${product.available}">
                        <i class="fa-solid fa-ban"></i>
                        <span th:text="#{product.out-of-stock}">In Stock</span>
                    </div>
                </div>
                <div class="padding" th:if="${quantities}">
                    <form action="/order" method="GET">
                        <input name="p" th:value="${product.id}" type="hidden"/>
                        <select class="margin-bottom w-100" name="q">
                            <option th:each="value : ${quantities}" th:text="${value}" th:value="${value}">1</option>
                        </select>
                        <button class="btn btn-lg btn-primary w-100" type="submit">Buy Now</button>
                    </form>
                </div>
                <div th:if="${device.isMobile()}">
                    <div th:replace="component/layout :: toolbar(${merchant})"></div>
                </div>
                <div class="summary padding" th:if="${product.summary}" th:text="${product.summary}">
                    This is the summary
                </div>

                <!-- Online event -->
                <div class="padding border-top" th:if="${product.event}">
                    <h4>
                        <span th:if="${product.event.online}" th:text="#{product.event-online}">Online Event</span>
                        <span th:if="!${product.event.online}" th:text="#{product.event-offline}">Event</span>
                    </h4>
                    <table class="event-info">
                        <tr th:if="${product.event.startDate}">
                            <td>
                                <i class="fa-solid fa-calendar-days highlight"></i>
                            </td>
                            <td class="padding-left" th:text="${product.event.startDate}">2020-12-01</td>
                        </tr>
                        <tr th:if="${product.event.startTime}">
                            <td>
                                <i class="fa-solid fa-clock highlight"></i>
                            </td>
                            <td class="padding-left">
                                <span th:text="${product.event.startTime}">12:30</span>
                                <span th:if="${product.event.endTime}">-</span>
                                <span th:if="${product.event.endTime}" th:text="${product.event.endTime}">13:30</span>
                            </td>
                        </tr>
                        <tr th:if="${product.event.meetingProviderName}">
                            <td>
                                <img height="24"
                                     th:if="${product.event.meetingProviderLogoUrl}"
                                     th:src="${product.event.meetingProviderLogoUrl}" width="24"
                                />
                            </td>
                            <td class="padding-left" th:text="${product.event.meetingProviderName}">Zoom</td>
                        </tr>
                    </table>
                </div>
                <div class="padding border-top" id="product-delivery" th:if="${product.event}">
                    <h4 th:if="#{product.delivery}">Delivery</h4>
                    <div id="product-delivery-event-online" th:if="${product.event.online}"
                         th:text="#{product.delivery-event-online}">Details...
                    </div>
                </div>
            </div>
        </div>

        <div class="row" th:if="${product.description}">
            <div class="col">
                <div class="description padding" th:text="${product.description}">Description</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div th:replace="component/layout :: merchant-back-to-products(${merchant})"></div>
            </div>
        </div>

        <div th:replace="component/layout :: social-toolbar(${merchant})"></div>
    </div>
</div>

<div th:replace="component/layout :: footer"></div>

</body>
</html>
