<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="component/layout :: head"></div>
</head>

<body class="paper">

<div class="container offset-md-2 col-md-8 col-sm-12 content-main margin-top">
    <div class="border main-content">
        <div class="profile padding flex">
            <img class="margin-right" th:if="${member.pictureUrl}" th:src="${member.pictureUrl}"/>
            <div>
                <h1 th:text="${member.displayName}">Ray Sponsible</h1>
                <div th:if="${member.category}" th:text="${member.category}">Category</div>
                <div th:if="${member.location}">
                    <i class="fa-solid fa-location-dot"></i>
                    <span th:text="${member.location}">Yaounde, Cameroun</span>
                </div>
                <div class="bio" th:text="${member.biography}">Bio</div>
            </div>
        </div>

        <div th:if="${device.isMobile()}">
            <div th:replace="component/layout :: toolbar(${member})"></div>
        </div>

        <div class="container">
            <div class="row">
                <div class="product-card col-6 col-md-4 col-lg-3 border" th:each="product : ${products}"
                     th:id="'product-' + ${product.id}" th:title="${product.title}">
                    <a th:href="${product.url}">
                        <div class="img-container margin-bottom" th:if="${product.thumbnailUrl}">
                            <img th:alt="${product.title}" th:src="${product.thumbnailUrl}"/>
                        </div>
                        <h2 class="title" th:text="${product.title}">This is a tile</h2>
                        <div class="price" th:text="${product.price}">15000 FCFA</div>
                    </a>
                </div>
            </div>
        </div>

        <div th:replace="component/layout :: social-toolbar(${member})"></div>
    </div>
</div>


<div th:replace="component/layout :: footer"></div>

</body>
</html>
